<div class="row">
    <div class="col-9">
        <h2 class="text-primary">National Park List </h2>
    </div>
    <div class="col-3">
        <a asp-action="Upsert" class="btn btn-info form-control text-white">
            <i class="fas fa-plus"></i> &nbsp;Add National Park
        </a>
    </div>
</div>
<div class="container rounded border p-2 m-2">
    <table id="tblData" class="table table-bordered table-active table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/nationalPark.js"></script>
}